import React from 'react';
import { cn } from '../utils/cn';

type {{pascalCase name}}Props = React.ButtonHTMLAttributes<HTMLButtonElement>;

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({
  className,
  children,
  ...props
}) => {
  return (
    <button className={cn('px-4 py-2 rounded-md', className)} {...props}>
      {children}
    </button>
  );
};
